section:has(> div#searchable-select-div) {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

section:has(> div#searchable-select-div) > .list-container {
    flex: 1;
    min-height: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding-right: var(--padding-xs);
}

section:has(> div#searchable-select-div) > .select-field-container {
    display: block;
    overflow-y: auto;
}

section:has(> div#searchable-select-div) > .select-field-container > .select-field {
    margin-top: var(--margin-s);
    margin-bottom: var(--margin-s);
}

section img {
    width: 20px;
    height: 20px;
}

.search-input {
    position: absolute;
    transition: width var(--transition-default), opacity var(--transition-default), visibility var(--transition-default);
    opacity: 0;
    height: 1.5rem;
    right: 45px;
    width: 0;
    border-radius: var(--borderRadius-small);
    border: 1px solid var(--color-light-gray);
    font-size: var(--font-s);
    visibility: hidden;
    pointer-events: none;
}

.search-input.expanded {
    width: 50%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.search-icon-button {
    background-color: transparent;
    width: 20px;
    height: 20px;
    min-width: 20px;
}
