.inspector-marker {
    cursor: pointer;
    background-color: var(--color-red);
    border-radius: 50%;
    box-shadow: var(--boxShadow-marker);
    border: var(--border-marker);
}

.marker {
    height: 22px;
    width: 22px;
    display: block;
}
