.search-container {
    position: absolute;
    top: var(--distance-from-edge-default);
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 400px;
    z-index: 0;
}

.search-container:has(.focused) {
    z-index: 10;
}

.search-bar {
    height: 45px;
    background-color: var(--color-background);
    border-radius: 24px;
    border: var(--border-default);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-bar.focused {
    border-radius: 24px 24px 0 0;
    border-bottom: none;
    margin-right: -4px;
}

.search-bar input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: var(--color-primary);
    padding: 0 20px;
}

.navigation-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-icon img {
    width: 25px;
    height: 25px;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.search-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-background);
    border-radius: 0 0 15px 15px;
    border: var(--border-default);
    border-top: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: none;
}

.station-option {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    cursor: pointer;
    border-bottom: 1px solid var(--color-gray-on-dark-background);
    background-color: var(--color-background);
    font-weight: 400;
    min-width: 0;
    border-radius: 0;
}

.search-options .station-option:last-child {
    border-bottom: none;
    border-radius: 0 0 15px 15px;
}

.station-option:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.station-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin-right: 10px;
}

.station-icon img {
    width: 20px;
    height: 20px;
}

.station-name {
    flex: 1;
    text-align: left;
    font-size: 16px;
    color: var(--color-primary);
}
