.list-button {
    height: var(--height-streched-button);
    width: fit-content;
    bottom: var(--distance-from-edge-default);
    left: var(--distance-from-edge-default);
    overflow: hidden;
    margin-bottom: 15px;
}

.list-button img {
    height: 23px;
    width: 23px;
}
