.ask-for-location section:has(> div#searchable-select-div) > .select-field-container {
    max-height: calc(50vh - 200px);
    overflow-y: auto;
}

.ask-for-location .search-input.expanded {
    width: 33%;
}

.ask-for-location button {
    margin-top: var(--margin-m);
}

.ask-for-location h1 {
    margin-bottom: var(--margin-m);
}
