.layer-switcher {
  top: var(--distance-from-edge-default);
  right: var(--distance-from-edge-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-s);
}

.layer-options {
    top: var(--distance-from-edge-default);
    right: 100px;
    width: fit-content;
    height: 60px;
    padding: var(--padding-xs);
}

.layer-options div {
    width: 50px;
    height: 50px;
}

.layer-options p {
    text-align: center;
    font-size: var(--font-xxs);
}

.layer-options img {
    width: 35px;
    height: 35px;
    border: 2px solid transparent;
}

.layer-options img.active {
    border: 2px solid var(--color-primary);
    border-radius: var(--borderRadius-medium);
}
