.layer-switcher {
  top: var(--distance-from-edge-default);
  right: var(--distance-from-edge-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-s);
}

