button.util-button {
    top: calc(var(--distance-from-edge-default) + 50px);
    left: var(--distance-from-edge-default);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button.util-button img {
    width: 35px;
    height: 35px;
}
