div.report-form {
    padding: var(--padding-m);
    transition: ease-in-out var(--transition-default);
}

.report-form > form > div > section > * {
    margin-top: var(--margin-s);
    margin-bottom: var(--margin-s);
}

.line {
    width: 35px;
    height: 100%;
    border-radius: var(--borderRadius-small);
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-form textarea {
    position: relative;
    font-size: var(--font-s);
    font-weight: 400;
    border: 1px solid var(--color-light-gray);
    border-radius: var(--borderRadius-small);
    width: calc(100% - 16px);
    height: 2rem;
    resize: none;
    transition: ease-in-out var(--transition-default);
    padding: var(--padding-s);
}

.report-form textarea:hover {
    border: 1px solid var(--color-light-gray-hover);
}

.report-form textarea::placeholder {
    font-weight: 400;
    margin: var(--margin-m);
    color: var(--color-box-text);
}

.report-form label:has(> input[type='checkbox']) {
    font-size: var(--font-xs);
    display: flex;
    align-items: center;
}

.report-form label:has(> input[type='checkbox']) > a {
    margin-left: var(--margin-xxs);
    margin-right: var(--margin-xxs);
}

@media (max-width: 375px) {
    .report-form > form > div h1 + section {
        display: none;
    }

    .report-form label:has(> input[type='checkbox']) {
        font-size: var(--font-xxs);
    }

    .report-form .description-field textarea {
        height: 1.5rem;
    }
}
