.report-form > form > section {
    margin-top: var(--margin-m);
}

.report-form > form > section > div:has(> img) {
    margin-top: var(--margin-l);
    margin-bottom: var(--margin-m);
    height: 2rem;
}

.report-form input {
    height: 2rem;
    width: 50%;
    border-radius: var(--borderRadius-small);
    border: 1px solid var(--color-light-gray);
}

.report-form > form > section > * {
    margin-top: var(--margin-s);
}

.line {
    width: 35px;
    height: 85%;
    border-radius: var(--borderRadius-small);
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-form textarea {
    position: relative;
    font-size: var(--font-s);
    font-weight: 400;
    border: 1px solid var(--color-light-gray);
    border-radius: var(--borderRadius-small);
    width: calc(100% - 16px);
    height: 3rem;
    resize: none;
    transition: ease-in-out var(--transition-default);
    padding: var(--padding-s);
}

.report-form textarea:hover {
    border: 1px solid var(--color-light-gray-hover);
}

.report-form textarea::placeholder {
    font-weight: 400;
    margin: var(--margin-m);
    color: var(--color-box-text);
}

.report-form .description-field {
    margin-bottom: var(--margin-m);
    width: 100%;
}

.report-form img {
    width: 20px;
    height: 20px;
}
