div.modal.container.navigation-modal {
    overflow-y: hidden;
    display: flex !important;
    flex-direction: column;
    height: 70vh;
}

.location-inputs {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xs);
    margin-bottom: var(--margin-s);
    margin-top: var(--margin-s);
    flex-shrink: 0;
}

.location-inputs input {
    border-radius: var(--borderRadius-small);
    border: var(--border-default);
    padding: var(--padding-s);
}

.autocomplete-container {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}
