.reports-modal {
    height: 70vh;
}

.reports-modal > section:first-child {
    margin-bottom: var(--margin-l);
}

.reports-modal > section > button {
    padding: var(--padding-xxs);
    width: auto;
    height: auto;
    border-radius: 9999px;
    background-color: var(--color-background);
    border: var(--border-default);
    text-align: center;
}

.reports-modal > section > button.active {
    background-color: var(--color-primary);
}

.reports-modal > section > button.active > h3 {
    color: var(--color-background);
}

.list-modal > div {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-m);
    border-bottom: var(--border-weak);
}

.list-modal > div:last-child {
    border-bottom: none;
}

.list-modal > div p {
    color: var(--color-gray-on-dark-background);
}

.list-modal > div span {
    color: var(--color-primary);
}

.list-modal > div > div {
    justify-content: left;
}

.list-modal > div > div:first-child h4 {
    margin-right: var(--margin-s);
}

.report-item > div:first-child > p:last-child {
    margin-left: auto;
}
