.report-button {
    position: fixed;
    height: 90px;
    min-height: auto;
    min-width: auto;
    width: 90px;
    bottom: var(--distance-from-edge-default);
    right: var(--distance-from-edge-default);
    padding: var(--padding-s);
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    z-index: var(--zIndex-button);
    border: 2px solid #000;
}

.report-button .plus span {
    position: absolute;
    background-color: #000;
    border-radius: 1px;
    box-shadow: var(--boxShadow-default);
}

.report-button .plus span:first-child {
    height: 5px;
    width: 50%;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

.report-button .plus span:last-child {
    width: 5px;
    height: 50%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 400px) {
    .report-button {
        height: 60px;
        width: 60px;
        padding: var(--padding-xs);
    }
}
