.report-button {
    position: fixed;
    bottom: var(--distance-from-edge-default);
    width: 110px;
    right: var(--distance-from-edge-default);
    margin-bottom: 15px;
    padding-left: 10px;
    z-index: var(--zIndex-button);
    background-color: var(--incentive-blue);
    border: 2px solid var(--color-white);
}

.report-button .plus span {
    position: absolute;
    background-color: var(--color-white);
    border-radius: 1px;
}

.report-button .plus span:first-child {
    height: 3px;
    width: 20px;
    left: 25%;
    top: 48%;
    transform: translateY(-50%);
}

.report-button .plus span:last-child {
    width: 3px;
    height: 20px;
    top: 25%;
    left: 52%;
    transform: translateX(-50%);
}
