.report-button {
    position: fixed;
    height: 90px;
    min-height: auto;
    min-width: auto;
    width: 90px;
    bottom: var(--distance-from-edge-default);
    right: var(--distance-from-edge-default);
    padding: var(--padding-s);
    cursor: pointer;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    overflow: hidden;
    z-index: var(--zIndex-button);
}

@media (max-width: 400px) {
    .report-button {
        height: 60px;
        width: 60px;
        padding: var(--padding-xs);
    }
}