.info-popup.marker-modal h2 {
    margin-bottom: var(--text-relation-weak);
}

.marker-modal.info-popup.modal .description {
    background-color: var(--color-gray);
    border-radius: var(--borderRadius-small);
    padding: var(--padding-s);
    margin-top: var(--margin-m);
    width: fit-content;
    color: var(--color-white);
}

.marker-modal.info-popup .footer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--margin-s);
    min-height: 20.5px;
    color: var(--color-primary);
    width: 100%;
}

.marker-modal.info-popup .distance {
    font-size: var(--font-xs);
}

.marker-modal.info-popup .disclaimer {
    font-size: var(--font-xxs);
}
