.feedback-modal {
    z-index: 4; /* No variable as this is an exception */
}

.feedback-modal li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-s) 0;
}

.feedback-modal li img, .feedback-modal li p {
    margin-right: var(--margin-s);
}

.feedback-modal li div {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.feedback-modal li p {
    font-weight: 600;
}

.feedback-modal .profile-picture {
    border-radius: 50%;
}

.feedback-modal img {
    width: 20px;
    height: 20px;
}
  